Repository codeJester27/cmps401fa2024, pull requests merged in 2024-08, with the labels that each got.

#1 docs: readme update
  README.md
Labels: documentation

#2 feat/apps and bot updates
  DiscordBot/bot.go
  WebApp/app.go
  WebApp/processing/processing.go
  WebApp/processing/regions.go
Labels: enhancement

#3 Fix the server
  DiscordBot/go.mod
  DiscordBot/go.sum
  WebApp/app.go
  WebApp/go.mod
  WebApp/go.sum
  WebApp/processing/regions.go
Labels: bug, enhancement

#4 Add Region type
  WebApp/processing/processing.go
  WebApp/processing/regions.go
Labels: web app, refactor

#10 Game
  Game/.gitattributes
  Game/.gitignore
  Game/icon.svg
  Game/icon.svg.import
  Game/main.tscn
  Game/player.gd
  Game/player.png
  Game/player.png.import
  Game/player.tscn
  Game/project.godot
  Game/terrain.tscn
Labels: enhancement, game, gdscript

#15 fix/acceleration-fix
  Game/player.gd
Labels: bug, game, gdscript

#14 Iterative Region Mapping
  WebApp/processing/processing.go
  WebApp/processing/regions.go
Labels: enhancement, web app, refactor, go
