Repository codeJester27/cmps401fa2024, pull requests merged in 2024-09, with the labels that each got.

#20 better build workflow
  .github/workflows/build.yml
  .github/workflows/go.yml
  .github/workflows/godot.yml
Labels: enhancement

#21 Region-To-Mesh
  .github/workflows/build.yml
  WebApp/.gitignore
  WebApp/processing/processing.go
  WebApp/processing/processing_test.go
  WebApp/processing/regions.go
  WebApp/processing/test_images/test_circle.png
  WebApp/processing/test_images/test_circle_vertexmap.png
  WebApp/processing/test_images/test_head.png
  WebApp/processing/test_images/test_head_vertexmap.png
  WebApp/processing/test_images/test_rect.png
  WebApp/processing/test_images/test_rect_vertexmap.png
  cmps401fa2024.code-workspace
Labels: enhancement, web app, go

#22 feat/beta-main-menu
  Game/boardwalkbetalogo.png
  Game/boardwalkbetalogo.png.import
  Game/exitbutton.png
  Game/exitbutton.png.import
  Game/menu.gd
  Game/menu.tscn
  Game/player.tscn
  Game/startbutton.png
  Game/startbutton.png.import
Labels: enhancement, game, go

#23 Fix JPEG not being supported for bot image uploads
  DiscordBot/bot.go
Labels: bug, discord bot, go

#29 Feat/build level
  DiscordBot/bot.go
  WebApp/app.go
  WebApp/processing/regions.go
Labels: enhancement, web app, discord bot, go

#30 Feat/game file upload
  .github/scripts/godotcheck.sh
  Game/bellyrub.tscn
  Game/file_upload_example.gd
  Game/file_upload_example.tscn
  Game/file_uploader.gd
  Game/main.tscn
  Game/pick_image_file.tscn
  Game/project.godot
Labels: enhancement, game, gdscript
