Repository codeJester27/cmps401fa2024, pull requests merged in 2024-11, with the labels that each got.

#52 Random fixes
  Game/example_levels/GL85JyMXsAAUcB_.png
  Game/example_levels/GL85JyMXsAAUcB_.png.import
  Game/example_levels/Untitled.png
  Game/example_levels/Untitled.png.import
  Game/example_levels/bellyrub.tscn
  Game/example_levels/betalevel1.png
  Game/example_levels/betalevel1.png.import
  Game/example_levels/bigchungustile.png
  Game/example_levels/bigchungustile.png.import
  Game/example_levels/chungustile.png
  Game/example_levels/chungustile.png.import
  Game/example_levels/colortest.png
  Game/example_levels/colortest.png.import
  Game/icons/boardwalkicon.png
  Game/icons/boardwalkicon.png.import
  Game/image_confirmation.tscn
  Game/level_generator.gd
  Game/level_old.tscn
  Game/loading_indicator.tscn
  Game/main.tscn
  Game/menu.tscn
  Game/player.tscn
  Game/project.godot
  Game/ui/boardwalk2.png
  Game/ui/boardwalk2.png.import
  Game/ui/boardwalkbetalogo.png
  Game/ui/boardwalkbetalogo.png.import
  Game/ui/exitbutton.png
  Game/ui/exitbutton.png.import
  Game/ui/loader.png
  Game/ui/loader.png.import
  Game/ui/loader_colored.png
  Game/ui/loader_colored.png.import
  Game/ui/startbutton.png
  Game/ui/startbutton.png.import
  WebApp/app.go
  WebApp/processing/processing.go
Labels: bug, web app, game, refactor, go, gdscript, processing

#54 More Fixes
  Game/level.gd
  Game/level.tscn
  Game/web_pick_image_file.gd
Labels: bug, game, gdscript

#56 Feat/player start and end
  Game/goal.tscn
  Game/icons/goal.png
  Game/icons/goal.png.import
  Game/level.gd
  Game/level.tscn
  Game/project.godot
Labels: enhancement, game, gdscript

#55 overall coyote timer fixed
  Game/player.gd
  Game/player.tscn
Labels: enhancement, game, gdscript

#60 docs: update user manual
  WebApp/app.go
  WebApp/exported-manual/Prototype User Manual.pdf
  WebApp/exported-manual/User Manual.pdf
Labels: documentation, web app, game

#62 Dash improvements
  Game/after_image.gd
  Game/after_image_emitter.gd
  Game/example_levels/dashy.png
  Game/example_levels/dashy.png.import
  Game/icons/afterimageicon.png
  Game/icons/afterimageicon.png.import
  Game/player.gd
  Game/player.tscn
Labels: enhancement, game, gdscript

#63 Fix load errors
  Game/menu.tscn
  Game/player.tscn
Labels: bug, game

#67 Fix dash after images with new sprite
  Game/after_image.gd
  Game/after_image_emitter.gd
  Game/afterimage.gdshader
  Game/player.gd
  Game/player.tscn
Labels: bug, game, gdscript

#68 Boardbox
  Boardbox/.gitattributes
  Boardbox/.gitignore
  Boardbox/UploadButton.png
  Boardbox/UploadButton.png.import
  Boardbox/boardbox.png
  Boardbox/boardbox.png.import
  Boardbox/error_dialog.gd
  Boardbox/file_uploader.gd
  Boardbox/loader_colored.png
  Boardbox/loader_colored.png.import
  Boardbox/loading_indicator.gd
  Boardbox/loading_indicator.tscn
  Boardbox/main.gd
  Boardbox/main.tscn
  Boardbox/mouse_bumper.gd
  Boardbox/mouse_bumper.tscn
  Boardbox/pick_image_file.tscn
  Boardbox/project.godot
  Boardbox/screen_barrier.tscn
  Boardbox/shape_generator.gd
  Boardbox/web_pick_image_file.gd
  Boardbox/whiteboardshapes.png
  Boardbox/whiteboardshapes.png.import
Labels: enhancement, gdscript

#72 Boardmesh Options
  Boardbox/file_uploader.gd
  Boardbox/main.gd
  Boardbox/main.tscn
  WebApp/app.go
  WebApp/processing/processing.go
  WebApp/processing/processing_test.go
  WebApp/processing/regions.go
Labels: enhancement, web app, go, processing

#74 boardsite update
  WebApp/homepage/board-site/package-lock.json
  WebApp/homepage/board-site/package.json
  WebApp/homepage/board-site/src/components/TopBar.tsx
  WebApp/homepage/board-site/src/main.tsx
  WebApp/homepage/board-site/src/routes/about.css
  WebApp/homepage/board-site/src/routes/about.tsx
  WebApp/homepage/board-site/src/routes/root.css
  WebApp/homepage/board-site/src/routes/root.tsx
Labels: enhancement, website

#76 change aspect ratio on mobile devices
  Game/level.tscn
  Game/project.godot
Labels: game

#77 add new boardmesh options to boardwalk
  Boardbox/boardbox.png
  Game/file_uploader.gd
  Game/image_confirmation.gd
  Game/image_confirmation.tscn
  Game/level.gd
  Game/level.tscn
  Game/level_generator.gd
  Game/start_menu.gd
  Game/ui/white_checked.png
  Game/ui/white_checked.png.import
  Game/ui/white_unchecked.png
  Game/ui/white_unchecked.png.import
  WebApp/app.go
  WebApp/processing/regions.go
  cmps401fa2024.code-workspace
Labels: enhancement, web app, game, go, gdscript

#78 multiplayer
  Game/ghost_player.gd
  Game/ghost_player.tscn
  Game/level.gd
  Game/level.tscn
  Game/multiplayer_controller.gd
  Game/player.tscn
  Game/player_animated_sprite.tres
  Game/preferences.gd
  Game/project.godot
  Game/start_menu.gd
  Game/start_menu.tscn
  WebApp/app.go
  WebApp/go.mod
  WebApp/go.sum
Labels: enhancement, web app, game, go, gdscript, stretch goal

#85 Fix Not Found routes
  WebApp/app.go
  WebApp/homepage/board-site/src/index.css
  WebApp/homepage/board-site/src/routes/error-page.tsx
  WebApp/homepage/board-site/src/routes/root.css
Labels: bug, web app, go, website

#86 New Colorblind Shaders
  Game/colorblind_base.gdshader
  Game/colorblind_blue.gdshader
  Game/colorblind_green.gdshader
  Game/colorblind_red.gdshader
  Game/debug_widget.gd
  Game/level.gd
  Game/level_generator.gd
  Game/main.tscn
  Game/player.gd
  Game/project.godot
Labels: enhancement, game, gdscript
