Repository codeJester27/cmps401fa2024, pull requests merged in 2024-10, with the labels that each got.

#35 Feat/build level godot
  Game/build_level.gd
  Game/build_level.tscn
  Game/build_level_test.gd
Labels: enhancement, game, gdscript

#36 Region-To-Mesh Stability
  WebApp/processing/processing.go
  WebApp/processing/processing_test.go
  WebApp/processing/test_images/test_head2.png
  WebApp/processing/test_images/test_head2_vertexmap.png
  WebApp/processing/test_images/test_head_vertexmap.png
  WebApp/processing/test_images/test_rect_vertexmap.png
  WebApp/processing/test_images/test_scribble.png
  WebApp/processing/test_images/test_scribble_vertexmap.png
  WebApp/vertexmapgen/vertexmapgen.go
Labels: bug, go, processing

#37 Use Region-To-Mesh In Game
  .github/scripts/godotbuildweb.sh
  Game/bigchungustile.png
  Game/bigchungustile.png.import
  Game/build_level.gd
  Game/build_level.tscn
  Game/build_level_test.gd
  Game/exitbutton.png
  Game/export_presets.cfg
  Game/file_uploader.gd
  Game/icons/hammericon.png
  Game/icons/hammericon.png.import
  Game/image_confirmation.gd
  Game/image_confirmation.tscn
  Game/level.gd
  Game/level.tscn
  Game/level_generator.gd
  Game/level_old.tscn
  Game/loader.png
  Game/loader.png.import
  Game/loader_colored.png
  Game/loader_colored.png.import
  Game/loading_indicator.gd
  Game/loading_indicator.tscn
  Game/main.tscn
  Game/menu.gd
  Game/player.gd
  Game/project.godot
  Game/start_menu.gd
  Game/start_menu.tscn
  Game/startbutton.png
  Game/web_pick_image_file.gd
  WebApp/app.go
  WebApp/processing/processing.go
  WebApp/processing/processing_test.go
  WebApp/processing/regions.go
  WebApp/vertexmapgen/input.json
Labels: enhancement, web app, game, go, gdscript

#38 Use New Domain
  Game/project.godot
  README.md
  WebApp/app.go
Labels: enhancement, web app, game, go, gdscript

#40 Feat/error message dialog and region mapping improvements
  Game/boardwalkicon.png
  Game/boardwalkicon.png.import
  Game/error_dialog.gd
  Game/level.gd
  Game/level.tscn
  Game/project.godot
  WebApp/app.go
  WebApp/processing/processing.go
  WebApp/processing/regions.go
Labels: enhancement, game, refactor, go, gdscript, processing

#41 straight line opt 1
  Game/BoardWalk (1).mp3
  Game/BoardWalk (1).mp3.import
  Game/PXL_20241016_011639839.jpg
  Game/PXL_20241016_011639839.jpg.import
  Game/betalevel1.png
  Game/betalevel1.png.import
  Game/level.gd
  Game/level.tscn
  Game/player.gd
  Game/player.tscn
  WebApp/app.go
  WebApp/processing/processing.go
Labels: refactor, go, processing

#46 Death
  Game/Spritesheets/deathscene.png
  Game/Spritesheets/deathscene.png.import
  Game/player.gd
  Game/player.tscn
Labels: enhancement, game, gdscript

#47 basic website
  Game/BoardWalk (1).ogg
  Game/BoardWalk (1).ogg.import
  Game/level.gd
  Game/level.tscn
  WebApp/app.go
  WebApp/exported-manual/Prototype User Manual.pdf
  WebApp/website/BoardmeshFitted.png
  WebApp/website/boardwalk2fitted.png
  WebApp/website/homepage.html
  WebApp/website/styles.css
Labels: enhancement, web app, game, go, gdscript

#49 red death
  Game/Untitled.png
  Game/Untitled.png.import
  Game/colortest.png
  Game/colortest.png.import
  Game/level.tscn
  Game/level_generator.gd
  Game/player.gd
  Game/project.godot
  WebApp/app.go
Labels: enhancement, web app, game, go, gdscript
