Repository codeJester27/cmps401fa2024, pull requests merged in 2025-03, with the labels that each got.

#125 fix: touchscreen button scale slider
  Game/ui/components/options.gd
Labels: bug, game, gdscript

#127 include some other important stuff for 4.4 upgrade
  .github/scripts/godotbuildweb.sh
  .github/scripts/godotcheck.sh
  Boardbox/error_dialog.gd.uid
  Boardbox/file_uploader.gd.uid
  Boardbox/loading_indicator.gd.uid
  Boardbox/loading_indicator.tscn
  Boardbox/main.gd.uid
  Boardbox/main.tscn
  Boardbox/mouse_bumper.gd.uid
  Boardbox/mouse_bumper.tscn
  Boardbox/project.godot
  Boardbox/shape_generator.gd.uid
  Boardbox/web_pick_image_file.gd.uid
  README.md
Labels: enhancement, game, gdscript

#128 fun customize bg
  Game/hat_emitter.gd
  Game/hat_emitter.gd.uid
  Game/hat_emitter.tscn
  Game/level.tscn
  Game/menus/customize_menu.gd
  Game/menus/customize_menu.tscn
  Game/sample_emitter.tscn
Labels: enhancement, game, gdscript

#130 Improve Hat Animations
  Game/Spritesheets/head.png
  Game/Spritesheets/head.png.import
  Game/hats/crown/crown.tscn
  Game/hats/jester/jester.tscn
  Game/hats/jester/jester_unlock_checker.gd
  Game/player.tscn
  Game/player_animation_library.tres
Labels: bug, enhancement, game

#132 Boardshapes Rebrand
  Game/project.godot
  MultiplayerServer/server.go
  WebApp/app.go
  WebApp/exported-manual/User Manual.pdf
  WebApp/homepage/board-site/board.svg
  WebApp/homepage/board-site/index.html
  WebApp/homepage/board-site/src/components/TopBar.tsx
  WebApp/homepage/board-site/src/img/BoardBox.svg
  WebApp/homepage/board-site/src/img/boardmesh.png
  WebApp/homepage/board-site/src/img/boardmesh.svg
  WebApp/homepage/board-site/src/img/boardshapes.png
  WebApp/homepage/board-site/src/img/boardwalk.svg
  WebApp/homepage/board-site/src/img/github.svg
  WebApp/homepage/board-site/src/routes/root.css
  WebApp/homepage/board-site/src/routes/root.tsx
  WebApp/misc-assets/teapot.txt
  WebApp/other-pages/go-away.html
Labels: documentation, web app, go, gdscript, website, multiplayer

#133 Screen Transitions
  Game/base_unlock_checker.gd
  Game/credits_screen.gd
  Game/debug_widget.gd
  Game/file_uploader.gd
  Game/ghost_player.gd
  Game/hats/crown/crown.gd
  Game/image_confirmation.gd
  Game/level.gd
  Game/level.tscn
  Game/level_generator.gd
  Game/menus/customize_menu.gd
  Game/menus/menu.gd
  Game/menus/start_menu.gd
  Game/multiplayer_controller.gd
  Game/notifications.gd
  Game/player.gd
  Game/project.godot
  Game/screen_transitioner.gd
  Game/screen_transitioner.gd.uid
  Game/screen_transitioner.tscn
  Game/shaders/materials/colorblind_blue.tres
  Game/shaders/materials/colorblind_green.tres
  Game/shaders/materials/colorblind_red.tres
  Game/shaders/wipe.gdshader
  Game/shaders/wipe.gdshader.uid
  Game/test_scenes/shader_test_scene.tscn
  Game/web_pick_image_file.gd
Labels: enhancement, game, gdscript

#134 Feat/bunk
  Game/base_unlock_checker.gd
  Game/global_signals.gd
  Game/global_signals.gd.uid
  Game/hats/bunk/bunk.tscn
  Game/hats/bunk/bunk_unlock_checker.gd
  Game/hats/bunk/bunk_unlock_checker.gd.uid
  Game/hats/bunk/bunkhelmred.png
  Game/hats/bunk/bunkhelmred.png.import
  Game/hats/crown/crown_unlock_checker.gd
  Game/hats/goggles/goggles-unlock-checker.gd
  Game/hats/hat_list.json
  Game/hats/jester/jester_unlock_checker.gd
  Game/hats/tophat/top_hat_unlock_checker.gd
  Game/menus/customize_menu.gd
  Game/menus/customize_menu.tscn
  Game/project.godot
  Game/unlocks/unlock_checker_manager.gd
Labels: enhancement, game, gdscript

#140 Blockhead hat
  Game/editor_scripts/generate_level_in_editor.gd
  Game/editor_scripts/generate_level_in_editor.gd.uid
  Game/hat_unlock_notification.gd
  Game/hat_unlock_notification.tscn
  Game/hats/blockhead/blockhead.png
  Game/hats/blockhead/blockhead.png.import
  Game/hats/blockhead/blockhead.tscn
  Game/hats/blockhead/blockhead_unlock_checker.gd
  Game/hats/blockhead/blockhead_unlock_checker.gd.uid
  Game/hats/blockhead/blockhead_unlock_scene.gd
  Game/hats/blockhead/blockhead_unlock_scene.gd.uid
  Game/hats/blockhead/blockhead_unlock_scene.tscn
  Game/hats/hat_list.json
  Game/project.godot
  Game/screen_transitioner.gd
  Game/screen_transitioner.tscn
Labels: enhancement, game, gdscript

#142 Feat/level names
  Game/The Brownies.otf
  Game/The Brownies.otf.import
  Game/campaign/campaign_levels.json
  Game/campaign_levels.gd
  Game/hats/hat_list.json
  Game/level.gd
  Game/level.tscn
  Game/level_name_label.gd
  Game/level_name_label.gd.uid
  Game/level_name_label.tscn
Labels: enhancement, game, gdscript

#144 Website redesign
  WebApp/homepage/board-site/package-lock.json
  WebApp/homepage/board-site/package.json
  WebApp/homepage/board-site/src/img/boardgoggle.png
  WebApp/homepage/board-site/src/img/boardwalk.png
  WebApp/homepage/board-site/src/img/colander.png
  WebApp/homepage/board-site/src/img/jester.png
  WebApp/homepage/board-site/src/img/pirate.png
  WebApp/homepage/board-site/src/img/wegahat.png
  WebApp/homepage/board-site/src/routes/about.tsx
  WebApp/homepage/board-site/src/routes/root.css
  WebApp/homepage/board-site/src/routes/root.tsx
Labels: enhancement, website
