Repository codeJester27/cmps401fa2024, pull requests merged in 2025-02, with the labels that each got.

#113 feat: new campaign levels
  Game/campaign/campaign_levels.json
  Game/campaign/newshapesbyc.boardwalk
  Game/campaign/z'slvl.boardwalk
Labels: enhancement, game

#116 Feat/ghost hats
  Game/ghost_player.tscn
  Game/hats/crown/crown.tscn
  Game/hats/jester/jester.tscn
  Game/hats/tophat/tophat.tscn
  Game/level.gd
  Game/menus/menu.gd
  Game/multiplayer_controller.gd
  MultiplayerServer/server.go
Labels: enhancement, game, go, gdscript, multiplayer

#117 goggles
  Game/campaign/campaign_levels.json
  Game/hats/goggles/boardgoggle.excalidraw
  Game/hats/goggles/boardgoggle.png
  Game/hats/goggles/boardgoggle.png.import
  Game/hats/goggles/goggles-unlock-checker.gd
  Game/hats/goggles/goggles.tscn
  Game/hats/hat_list.json
  Game/level.tscn
  Game/player.gd
Labels: enhancement, game, gdscript

#124 cleans up credits button
  Game/ui/sprites/creditsbutton.png
Labels: bug, game
